.container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background-size: cover;
    background-image: url("../Components/images/felt4suits.webp");
    background-repeat: repeat;
    padding: 10px;
    text-align: center;
    margin-bottom: 0px;
}

.instructions {
    text-align: right;
}

.playerform {
    text-align: left;
}

.snappool {
    height: 314px;
    /* align-items:center; */
    /* align-content: space-around; */
    display: grid;
    grid-template-columns: auto ;
}

.ipopup {
    text-align: left;
    background: rgba(255, 255, 255, 0.6);
}

.cpopup {
    text-align: left;
    background: rgba(255, 255, 255, 0.6);
}

.p1hand{
    background-image: url("../Components/images/redcardback.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 23%;
    text-shadow: 0 0 10px white;
    color: black;
}

.handcount{
    background: rgba(255, 255, 255, 0.75);
    width: 10%;
    height: 20%;
    margin: auto;
    border-radius: 50%;
    /* margin-left: 32%; */
}

.p2hand{
    background-image: url("../Components/images/bluecardback.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 23%;
    color: black;
}

.title{
    color: white;
    text-shadow:
      0 0 4px #fff,
      0 0 10px #fff,
      0 0 18px #fff,
      0 0 38px #f09,
      0 0 73px #f09,
      0 0 80px #f09,
      0 0 94px #f09,
      0 0 140px #f09;
}

@font-face {
    font-family: neon;
    src: url(neon_pixel-7.ttf)
}

.neon-text{
    padding: 3%;
    font-family: neon;
    font-size: 240px;
    animation: flicker 5s linear infinite;
}

.footer{
    font-family: neon;
    src: url(neon_pixel-7.ttf);
    font-size: 20px;
    margin-top: 0;
    margin: 0;
    height: 50px;
    padding: 1rem;
    padding-top: 0;
    padding-left: 0;
    background-color:black;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    color: rgb(255, 255, 255);
    /* color: rgb(2, 2, 2); */
    text-shadow:
      /* 0 0 4px #fff, */
      /* 0 0 8px #fff, */
      /* 0 0 11px #fff, */
      0 0 13px #f09,
      0 0 17px #f09,
      0 0 20px #f09,
      0 0 22px #f09,
      0 0 30px #f09;
  }

@keyframes flicker {
    0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {opacity: .99;}
    20%, 21.999%, 63%, 63.999%, 65%, 69.999% {opacity: 0.4;}
}

.container button {
    background-color: #f09;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 15px;
    border-radius: 5px;
    outline: 0;
    opacity: 0.6;
    transition: 250ms;
}

.container button:hover {
    opacity: 1;
}  