.button {
    background-color: #f09;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 15px;
    border-radius: 5px;
    outline: 0;
    opacity: 0.6;
    transition: 250ms;
}

.button :hover {
    /* background-color: rgb(47, 255, 0); */
    opacity: 1;
}  